<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace 에는 연결할 Mapper 인터페이스 패키지 + 인터페이스명 작성 -->
<mapper namespace="edu.kh.todolist.mapper.TodoListMapper">

<!-- result Type : 결과 타입 -->
<!-- DBconfig에 별칭 등록을 해둠 (클래스명만 부르면 경로 확인가능) -->
	<!-- 할일 목록 조회 -->
	<select id="selectTodoList" resultType="Todo">
			SELECT 
			TODO_NO, 
			TODO_SUB, 
			TODO_COMPL, 
			TO_CHAR(TODO_DATE, 'YYYY-MM-DD') TODO_DATE 
		FROM TO_DO
		WHERE TODO_NO > 0
		ORDER BY TODO_NO ASC
	</select>
	
	<!-- 완료 목록 조회 -->
	<select id="selectCompleteCount" resultType="_int">
		SELECT COUNT(*) 
		FROM TO_DO
		WHERE TODO_NO > 0
		AND TODO_COMPL = 'O'
	</select>
	
	
	<!-- 할일 추가 -->
	<insert id="todoAdd"  parameterType="Todo"> <!--  DML 결과 항상 _int 라서 적지 않음 -->
		INSERT INTO TO_DO(TODO_NO, TODO_SUB, TODO_CONTENT, TODO_COMPL)
		VALUES(SEQ_TODO_NO.NEXTVAL, #{todoSub}, #{todoContent}, 'O')
	</insert>
	
	
	<!-- 상세 조회 -->
	<select id="todoContent" parameterType="_int" resultType="Todo">
	<!-- 넘어온 건 int 타입이고 결과는 Todo로 받아갈 것! -->
				SELECT 
			TODO_NO, 
			TODO_SUB,
			TODO_CONTENT, 
			TODO_COMPL,
			TO_CHAR(TODO_DATE, 'YYYY-MM-DD') TODO_DATE 
		FROM TO_DO
		WHERE TODO_NO = #{todoNo}
	</select>
	
	
	<!-- 할일 완료 -->
	<update id="todoComplete">
			UPDATE TO_DO
		SET
			TODO_COMPL = 
				DECODE(TODO_COMPL, 'O', 'X', 'X', 'O')
		WHERE 
			TODO_NO = #{todoNo}
	</update>
	
	
	<!-- 할일 수정 -->
	<update id="todoEdit" parameterType="Todo">
			UPDATE TO_DO
			SET
				TODO_SUB = #{todoSub},
				TODO_CONTENT = #{todoContent}
			WHERE 
				TODO_NO = #{todoNo}
	</update>
	
	
	<!-- 할일 삭제 -->
	<delete id="todoDelete" parameterType="_int">
	DELETE
	FROM TO_DO
	WHERE TODO_NO = #{todoNo}
	</delete>
	
	
	<!-- 제목검색 -->
	<select id="searchTitle" parameterType="_int" resultType="string">
		SELECT 
			TODO_SUB
		FROM TO_DO
		WHERE TODO_NO = #{todoNo}
	</select>
	
	
	<!-- 전체 할일 개수 조회 -->
	<select id="getTotalCount" resultType="_int">
	SELECT COUNT(*) FROM TO_DO
	</select>
	

</mapper>
